.edit-project{
  background: #2a112b;
  padding: 50px;
}

@media (max-width: 767px) {
  .edit-project {
    background: linear-gradient(180deg, #2a112b 40%, #dad5cd 40%);
  }
}

@media (max-width: 575px) {
  .edit-project {
    background: linear-gradient(180deg, #2a112b 25%, #dad5cd 25%);
  }
}