.our-work{
  background: linear-gradient(180deg, #2a112b 25%, #dad5cd 25%);
  padding: 50px;
}

@media (max-width: 767px) {
  .our-work {
    background: linear-gradient(180deg, #2a112b 18%, #dad5cd 18%);
  }
}

@media (max-width: 575px) {
  .our-work {
    background: linear-gradient(180deg, #2a112b 10%, #dad5cd 10%);
  }
}